.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 50px;
  z-index: 1000;
  border-radius: 20px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
  height: 30px;
}
select {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
}
.submit {
  margin-top: 20px;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  overflow: hidden;
}
