.scoreBoard {
  background-color: white;
  height: 65px;
  position: absolute;
  font-size: 60px;
  width: 200px;
  bottom: 0;
  text-align: center;
  align-items: center;
  width: 40;
  justify-content: center;
  right: 25%;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 10vh;
  overflow: hidden;
  border-radius: 20px;
}
